.marketPage {
  :global(.ant-pro-page-container-children-container) {
    padding-top: 20px;
  }
}

.searchArea {
  width: 100%;
  max-width: 622px;
  margin: 0 auto;
  text-align: center;
}

.filterCard {
  margin-bottom: 16px;
}

.applicationCard {
  height: 224px;
  cursor: pointer;

  :global(.ant-card-body) {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 14px;
  }
}

.cardTitle {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 8px;
  align-items: center;
}

.meta {
  margin-top: 14px;

  :global(.ant-descriptions-item-label),
  :global(.ant-descriptions-item-content) {
    padding-bottom: 0;
    font-size: 12px;
  }
}

.description {
  min-height: 44px;
  margin: 10px 0 6px !important;
  font-size: 13px;
}

.tags {
  min-height: 24px;

  :global(.ant-tag) {
    margin-inline-end: 0;
  }
}

.cardDivider {
  margin: auto 0 5px !important;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  font-size: 12px;
}

.pagination {
  margin-top: 12px;
  text-align: right;
}
